/* Minimal styling for lecture slides (adapt as desired) */

/* =========================
   Custom color palette
   ========================= */
.css-proof { outline: 6px solid red !important; }

:root{
  --red-pink:   #e64173;
  --turquoise:  #20B2AA;
  --orange:     #FFA500;
  --red-main:   #b22222;   /* avoid clashing with existing .red */
  --blue-main:  #003399 ;
  --dblue-main: #006699;
  --green:      #8bb174;
  --grey-light: grey70;
  --grey-mid:   grey50;
  --grey-dark:  grey20;
  --slate:      #314f4f;
  --slateblue:  #6A5ACD;
}


/* =========================
   Text color utilities
   Use in .qmd as: [text]{.red-pink}
   ========================= */

.red-pink   { color: var(--red-pink); }
.turquoise  { color: var(--turquoise); }
.orange     { color: var(--orange); }
.red   { color: var(--red-main); }
.blue  { color: var(--blue-main); }
.dblue { color: var(--dblue-main); }
.green      { color: var(--green); }
.grey-light { color: var(--grey-light); }
.grey-mid   { color: var(--grey-mid); }
.grey-dark  { color: var(--grey-dark); }
.slate      { color: var(--slate); }
.slateblue  { color: var(--slateblue); }

/* Optional background helpers */
.bg-red-pink  { background-color: color-mix(in srgb, var(--red-pink) 15%, transparent); }
.bg-turquoise { background-color: color-mix(in srgb, var(--turquoise) 15%, transparent); }
.bg-orange    { background-color: color-mix(in srgb, var(--orange) 15%, transparent); }

.smaller { font-size: 0.85em; }
.smallest { font-size: 0.75em; }
.footnote { font-size: 0.7em; opacity: 0.9; margin-top: 1.5em; }

/* Vertical centering only (no horizontal centering) */
.vcenter {
  display: flex;
  align-items: center;   /* vertical centering */
  height: 70%;           /* space below the title */
}

.center { text-align: center; }

.big {
  font-size: 1.3em;
}

.bigger {
  font-size: 1.6em;
}

.huge {
  font-size: 2em;
}

.big-list li {
  font-size: 1.2em;
}

.mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
               "Liberation Mono", "Courier New", monospace;
}

/* reduce spacing */
p { margin: 0.25em 0; }
li { margin-bottom: 0.15em; }
h2, h3 { margin-bottom: 0.3em; }


.callout {
  margin: 0.5em 0;
  padding: 0.5em;
}

.quarto-title-meta .author::before {
  content: "Course: ";
  font-weight: 600;
}

.quarto-title-meta .date::before {
  content: "Due Date: ";
  font-weight: 600;
}

